In [182]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [183]:

import pandas as pd

!ls "/content/drive/My Drive/Data Dump"

 Denver-Consumer.csv	  'Miami Rider Data.csv'	 Untitled.ipynb
'Denver Rider Data.csv'   'Portland Consumer Data.csv'
 Miami-Consumer.data.csv  'Portland Rider Data.csv'

In [0]:
denver = pd.read_csv("/content/drive/My Drive/Data Dump/Denver-Consumer.csv")
miami = pd.read_csv("/content/drive/My Drive/Data Dump/Miami-Consumer.data.csv")
portland = pd.read_csv("/content/drive/My Drive/Data Dump/Portland Consumer Data.csv")
drider = pd.read_csv('/content/drive/My Drive/Data Dump/Denver Rider Data.csv')
mrider = pd.read_csv('/content/drive/My Drive/Data Dump/Miami Rider Data.csv')
prider = pd.read_csv('/content/drive/My Drive/Data Dump/Portland Rider Data.csv')
total = pd.concat([drider, mrider,prider], ignore_index=True)

In [0]:
# We can merge the dataframe of rider and consumer by first name and last name
def merge_df(d1,d2):
  d1['first_name'] = d1['Rider First Name']
  mergedStuff = pd.merge(d2, d1, on=['first_name'], how='inner')
  mergedStuff['lastname2'] = mergedStuff['Rider Last Name']
  return mergedStuff.query('last_name == lastname2')
def recast_salary(df1):
  df1['Annual Salary'] = df1['Annual Salary'].str.replace(',', '').str.replace('$', '').astype(float)
  return df1
def recast_debt(df1):
  df1['Total Debt'] = df1['Total Debt'].str.replace(',', '').str.replace('$', '').astype(float)
  return df1
def recast_trip(df1):
    df1['Trip Cost'] = df1['Trip Cost'].str.replace(',', '').str.replace('$', '').astype(float)
    return df1

In [0]:
drider = recast_trip(drider)
mrider = recast_trip(mrider)
prider= recast_trip(prider)
denver = recast_salary(recast_debt(denver))
portland = recast_salary(recast_debt(portland))
miami = recast_salary(recast_debt(miami))

In [0]:
x=drider['Trip Cost'].sum()/drider['Trip Distance (in Miles)'].sum()
y=mrider['Trip Cost'].sum()/mrider['Trip Distance (in Miles)'].sum()
z = prider['Trip Cost'].sum()/prider['Trip Distance (in Miles)'].sum()

In [188]:
print(x,y,z)
total = recast_trip(total)

1.4264290169972733 4.638841100772501 1.0246819296753102

In [189]:
corr = (miami.corr())
corr.style.background_gradient(cmap='coolwarm').set_precision(2)

In [190]:
corr = (portland.corr())
corr.style.background_gradient(cmap='coolwarm').set_precision(2)

In [191]:
denver.describe()

       Employee Number  ...  Distance to work (in miles)
count     8.750000e+04  ...                 87500.000000
mean      4.998527e+09  ...                    17.063556
std       2.887383e+09  ...                     5.897770
min       2.210660e+05  ...                     0.040000
25%       2.491468e+09  ...                    13.190000
50%       4.988629e+09  ...                    17.160000
75%       7.494354e+09  ...                    21.080000
max       9.999956e+09  ...                    37.660000

[8 rows x 6 columns]

In [0]:
miami['dob'] = miami['Date of Birth']
miami['Age'] = miami.apply(lambda row: 2020-int(row.dob[-4:]) , axis = 1)

In [217]:
miami[['Age','Annual Salary']].describe()

                 Age  Annual Salary
count  100000.000000  100000.000000
mean       50.452110  169808.451996
std        17.291002   30166.924763
min        20.000000   63301.310000
25%        36.000000  150119.320000
50%        50.000000  169551.425000
75%        65.000000  190292.367500
max        80.000000  274297.600000

In [194]:
mrider[mrider['Vendor'] == 'Lyft'].describe()

       Credit Card Number  ...      Car Year
count        4.025600e+04  ...  41087.000000
mean         3.604925e+17  ...   2000.153771
std          1.349874e+18  ...      9.143180
min          4.000000e+12  ...   1909.000000
25%          3.540000e+15  ...   1994.000000
50%          3.580000e+15  ...   2002.000000
75%          5.590000e+15  ...   2007.000000
max          6.770000e+18  ...   2013.000000

[8 rows x 5 columns]

In [0]:
def analyze_riders(df1):
  taxi = df1[df1['Vendor'] == 'Taxi']
  uber = df1[df1['Vendor'] == 'Uber']
  lyft = df1[df1['Vendor'] == 'Lyft']
  print('Taxi,Uber,Lyft Comparisons')
  print(df1['Vendor'].value_counts())
  print('Mean cost:  ' + str(taxi['Trip Cost'].mean()) +","+str(uber['Trip Cost'].mean()) +"," + str(lyft['Trip Cost'].mean()))
  print('Mean Distance:   '+ str(taxi['Trip Distance (in Miles)'].mean()) +","+str(uber['Trip Distance (in Miles)'].mean()) +"," + str(lyft['Trip Distance (in Miles)'].mean()))
  print('Mean cost/distance:   '+ str(taxi['Trip Cost'].sum()/taxi['Trip Distance (in Miles)'].sum()) +","+str(uber['Trip Cost'].sum()/uber['Trip Distance (in Miles)'].sum()) +"," + str(lyft['Trip Cost'].sum()/lyft['Trip Distance (in Miles)'].sum()))

In [196]:
analyze_riders(total)

Taxi,Uber,Lyft Comparisons
Lyft    104912
Uber     98930
Taxi     96158
Name: Vendor, dtype: int64
Mean cost:  26.210498138481892,27.35457636713059,27.295457240353986
Mean Distance:   15.966518334407583,12.758337612452967,12.44931542626162
Mean cost/distance:   1.6415913344111233,2.1440549073123614,2.192526761975495

In [197]:
analyze_riders(mrider)

Taxi,Uber,Lyft Comparisons
Lyft    41087
Uber    35371
Taxi    23542
Name: Vendor, dtype: int64
Mean cost:  44.939605386118366,40.67986486104467,39.172100177672235
Mean Distance:   15.01496431908919,6.953602103418103,6.955135444301195
Mean cost/distance:   2.992987824085897,5.85018588294664,5.632111767107069

In [198]:
analyze_riders(prider)

Taxi,Uber,Lyft Comparisons
Lyft    35328
Uber    35127
Taxi    29545
Name: Vendor, dtype: int64
Mean cost:  16.008078862751596,15.092736356648746,15.424348109148495
Mean Distance:   15.106772042646986,15.108469838016555,15.106989356884288
Mean cost/distance:   1.059662435996288,0.9989586317121263,1.0210074121830157

In [0]:
analyze_riders(drider)

Taxi,Uber,Lyft Comparisons
Taxi    43071
Lyft    28497
Uber    28432
Name: Vendor, dtype: int64
Mean cost:  22.971888277495616,25.926357273494705,24.888428957434183
Mean Distance:   17.076376216015593,17.076226083286183,17.07608555286496
Mean cost/distance:   1.3452437441587084,1.5182720787979254,1.4575020065566524

In [0]:
mrider['Trip Time (in Minutes)'] = mrider['Trip Time (in Minutes)'].astype(int)

In [209]:
portland[['Annual Salary','Total Debt','Number of Cars','Distance to work (in miles)']].describe()

       Annual Salary    Total Debt  Number of Cars  Distance to work (in miles)
count  100000.000000  79205.000000   100000.000000                100000.000000
mean    54919.321336  27503.512301        1.503360                     6.953637
std      4016.944194  15926.613410        1.120063                     2.896554
min     41429.520000      0.350000        0.000000                     0.000000
25%     52149.417500  13726.180000        1.000000                     4.920000
50%     54880.080000  27474.550000        1.000000                     6.920000
75%     57696.362500  41311.730000        3.000000                     8.930000
max     67918.550000  54997.690000        3.000000                    16.530000

In [0]:
!pip install bokeh
from bokeh.plotting import figure, output_file, show,export_png
counts=[x,y,z]
fruits = ['Denver','Miami','Portland']

from bokeh.io import export_png

output_file("/content/drive/My Drive/bar_sorted.html")
p = figure(x_range=fruits, plot_height=250, title="Average Cost of Rideshare Trip Per Mile",
           toolbar_location=None, tools="")

p.vbar(x=fruits, top=counts, width=0.4)

p.xgrid.grid_line_color = None
p.y_range.start = 0
show(p)
output_notebook(p)

       Employee Number  ...  Distance to work (in miles)
count     1.000000e+05  ...                100000.000000
mean      4.989851e+09  ...                     6.953637
std       2.883397e+09  ...                     2.896554
min       2.259000e+03  ...                     0.000000
25%       2.499634e+09  ...                     4.920000
50%       4.981846e+09  ...                     6.920000
75%       7.480886e+09  ...                     8.930000
max       9.999839e+09  ...                    16.530000

[8 rows x 5 columns]

AttributeError: ignored

       Credit Card Number  ...       Car Year
count        9.800500e+04  ...  100000.000000
mean         3.648238e+17  ...    2000.196400
std          1.360057e+18  ...       9.142244
min          4.000000e+12  ...    1909.000000
25%          3.540000e+15  ...    1994.000000
50%          3.580000e+15  ...    2002.000000
75%          5.590000e+15  ...    2007.000000
max          6.770000e+18  ...    2013.000000

[8 rows x 5 columns]

       Credit Card Number  ...       Car Year
count        9.798500e+04  ...  100000.000000
mean         3.617189e+17  ...    2000.247730
std          1.353199e+18  ...       9.121695
min          4.000000e+12  ...    1909.000000
25%          3.540000e+15  ...    1995.000000
50%          3.580000e+15  ...    2002.000000
75%          5.590000e+15  ...    2007.000000
max          6.770000e+18  ...    2013.000000

[8 rows x 5 columns]

      Rider First Name Rider Last Name  ...  Car Year         Vin Number
0                Dwain         Bridson  ...      2004  3N1AB7APXFL612711
1              Helenka       Bitchener  ...      1994  WBSBL93421J312960
2               Vinnie           Douse  ...      2002  2G4WS55J651581949
3               Waylan      Riddlesden  ...      2002  KMHGH4JF4BU987162
4               Tracey      Murgatroyd  ...      2001  1FTEX1CM1CF943924
...                ...             ...  ...       ...                ...
99995        Bernadine        MacDowal  ...      2007  WAUJC68E65A960548
99996       Christiana          Downey  ...      2011  WBAWL13558P033316
99997            Karil            Haps  ...      2004  JN1CV6FE3FM577551
99998          Margret          Diggin  ...      2007  1FMNE1BW8AD805004
99999         Jannelle            Cock  ...      2008  WAUDK78T89A391549

[100000 rows x 11 columns]

Lyft    41087
Uber    35371
Taxi    23542
Name: Vendor, dtype: int64

      Rider First Name Rider Last Name  ...  Car Year         Vin Number
24              Zulema      Lindenbaum  ...      2004  19XFB4F2XDE491372
39               Jenni         Dowding  ...      2011  4T1BD1EBXDU283157
71            Maybelle          Knotte  ...      1991  1G6DU6EVXA0014683
80                 Del          Temple  ...      2001  1G6AP5SX2E0779953
87                Kris         Fackney  ...      1995  WA1CGBFE1BD341694
...                ...             ...  ...       ...                ...
99975           Alvina           Helin  ...      1993  4USFE83577L134881
99986         Giordano        Barthram  ...      1991  3GYFK62877G846698
99988             Asia      Yellowlees  ...      2003  WAUEH64B11N186131
99989            Alfie         Vasilov  ...      2003  WAULC58E65A547614
99994              Der          Hablot  ...      2009  SCFFDCCDXBG609719

[6743 rows x 11 columns]

Collecting chicksexer
  Downloading https://files.pythonhosted.org/packages/94/eb/be8da085100df911d22f94de34dab84c91ce18899d103e03cd521fbf8524/chicksexer-0.2.2-py3-none-any.whl (14.1MB)
     || 14.1MB 2.8MB/s
Collecting scikit-learn==0.18.1
  Downloading https://files.pythonhosted.org/packages/ae/d2/efa7f8bef195c459a527edc58bf863bd44fde727630486cb8256e9a5a326/scikit_learn-0.18.1-cp36-cp36m-manylinux1_x86_64.whl (11.8MB)
     || 11.8MB 35.6MB/s
Requirement already satisfied: docopt>=0.6.2 in /usr/local/lib/python3.6/dist-packages (from chicksexer) (0.6.2)
Collecting numpy==1.12.1
  Downloading https://files.pythonhosted.org/packages/b1/e2/884cfbfd4f21b2313210d1d2ea72ecc381b98826d1b7e6606929ac6c0a08/numpy-1.12.1-cp36-cp36m-manylinux1_x86_64.whl (16.8MB)
     || 16.8MB 242kB/s
Requirement already satisfied: regex>=2017.4.29 in /usr/local/lib/python3.6/dist-packages (from chicksexer) (2019.12.20)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.6/dist-packages (from chicksexer) (1.4.1)
Collecting tensorflow==1.0.1
  Downloading https://files.pythonhosted.org/packages/fd/1a/7935eb82b9a9b89a3a8ef7e54f7d538698c85d248d8bedb533eab5afd293/tensorflow-1.0.1-cp36-cp36m-manylinux1_x86_64.whl (44.5MB)
     || 44.5MB 97kB/s
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.0.1->chicksexer) (1.12.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.0.1->chicksexer) (0.34.2)
Requirement already satisfied: protobuf>=3.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==1.0.1->chicksexer) (3.10.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.1.0->tensorflow==1.0.1->chicksexer) (45.1.0)
ERROR: yellowbrick 0.9.1 has requirement numpy>=1.13.0, but you'll have numpy 1.12.1 which is incompatible.
ERROR: yellowbrick 0.9.1 has requirement scikit-learn>=0.20, but you'll have scikit-learn 0.18.1 which is incompatible.
ERROR: xarray 0.14.1 has requirement numpy>=1.14, but you'll have numpy 1.12.1 which is incompatible.
ERROR: umap-learn 0.3.10 has requirement numpy>=1.13, but you'll have numpy 1.12.1 which is incompatible.
ERROR: tensorflow-probability 0.7.0 has requirement numpy>=1.13.3, but you'll have numpy 1.12.1 which is incompatible.
ERROR: stable-baselines 2.2.1 has requirement tensorflow>=1.5.0, but you'll have tensorflow 1.0.1 which is incompatible.
ERROR: spacy 2.1.9 has requirement numpy>=1.15.0, but you'll have numpy 1.12.1 which is incompatible.
ERROR: seaborn 0.10.0 has requirement numpy>=1.13.3, but you'll have numpy 1.12.1 which is incompatible.
ERROR: scipy 1.4.1 has requirement numpy>=1.13.3, but you'll have numpy 1.12.1 which is incompatible.
ERROR: pywavelets 1.1.1 has requirement numpy>=1.13.3, but you'll have numpy 1.12.1 which is incompatible.
ERROR: pysndfile 1.3.8 has requirement numpy>=1.13.0, but you'll have numpy 1.12.1 which is incompatible.
ERROR: pymc3 3.7 has requirement numpy>=1.13.0, but you'll have numpy 1.12.1 which is incompatible.
ERROR: pyarrow 0.14.1 has requirement numpy>=1.14, but you'll have numpy 1.12.1 which is incompatible.
ERROR: plotnine 0.6.0 has requirement numpy>=1.16.0, but you'll have numpy 1.12.1 which is incompatible.
ERROR: pandas 0.25.3 has requirement numpy>=1.13.3, but you'll have numpy 1.12.1 which is incompatible.
ERROR: magenta 0.3.19 has requirement tensorflow>=1.12.0, but you'll have tensorflow 1.0.1 which is incompatible.
ERROR: imgaug 0.2.9 has requirement numpy>=1.15.0, but you'll have numpy 1.12.1 which is incompatible.
ERROR: imbalanced-learn 0.4.3 has requirement scikit-learn>=0.20, but you'll have scikit-learn 0.18.1 which is incompatible.
ERROR: featuretools 0.4.1 has requirement numpy>=1.13.3, but you'll have numpy 1.12.1 which is incompatible.
ERROR: fastai 1.0.60 has requirement numpy>=1.15, but you'll have numpy 1.12.1 which is incompatible.
ERROR: fancyimpute 0.4.3 has requirement scikit-learn>=0.19.1, but you'll have scikit-learn 0.18.1 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: cvxpy 1.0.25 has requirement numpy>=1.15, but you'll have numpy 1.12.1 which is incompatible.
ERROR: blis 0.2.4 has requirement numpy>=1.15.0, but you'll have numpy 1.12.1 which is incompatible.
ERROR: astropy 4.0 has requirement numpy>=1.16, but you'll have numpy 1.12.1 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: scikit-learn, numpy, tensorflow, chicksexer
  Found existing installation: scikit-learn 0.22.1
    Uninstalling scikit-learn-0.22.1:
      Successfully uninstalled scikit-learn-0.22.1
  Found existing installation: numpy 1.17.5
    Uninstalling numpy-1.17.5:
      Successfully uninstalled numpy-1.17.5
  Found existing installation: tensorflow 1.15.0
    Uninstalling tensorflow-1.15.0:
      Successfully uninstalled tensorflow-1.15.0
Successfully installed chicksexer-0.2.2 numpy-1.12.1 scikit-learn-0.18.1 tensorflow-1.0.1

/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:455: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:456: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:457: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:458: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:459: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])

ImportError: ignored

Requirement already satisfied: bokeh in /usr/local/lib/python3.6/dist-packages (1.4.0)
Requirement already satisfied: numpy>=1.7.1 in /usr/local/lib/python3.6/dist-packages (from bokeh) (1.12.1)
Requirement already satisfied: pillow>=4.0 in /usr/local/lib/python3.6/dist-packages (from bokeh) (6.2.2)
Requirement already satisfied: Jinja2>=2.7 in /usr/local/lib/python3.6/dist-packages (from bokeh) (2.11.1)
Requirement already satisfied: packaging>=16.8 in /usr/local/lib/python3.6/dist-packages (from bokeh) (20.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from bokeh) (2.6.1)
Requirement already satisfied: PyYAML>=3.10 in /usr/local/lib/python3.6/dist-packages (from bokeh) (3.13)
Requirement already satisfied: tornado>=4.3 in /usr/local/lib/python3.6/dist-packages (from bokeh) (4.5.3)
Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.6/dist-packages (from bokeh) (1.12.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.7->bokeh) (1.1.1)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging>=16.8->bokeh) (2.4.6)

ImportError: ignored

ValueError: ignored

In [0]:
show(p)

ValueError: ignored

AttributeError: ignored

Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (0.10.0)
Collecting numpy>=1.13.3
  Downloading https://files.pythonhosted.org/packages/62/20/4d43e141b5bc426ba38274933ef8e76e85c7adea2c321ecf9ebf7421cedf/numpy-1.18.1-cp36-cp36m-manylinux1_x86_64.whl (20.1MB)
     || 20.2MB 239kB/s
Requirement already satisfied: pandas>=0.22.0 in /usr/local/lib/python3.6/dist-packages (from seaborn) (0.25.3)
Requirement already satisfied: scipy>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from seaborn) (1.4.1)
Requirement already satisfied: matplotlib>=2.1.2 in /usr/local/lib/python3.6/dist-packages (from seaborn) (3.1.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.22.0->seaborn) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.22.0->seaborn) (2.6.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.2->seaborn) (2.4.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.2->seaborn) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.2->seaborn) (0.10.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.22.0->seaborn) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.1.2->seaborn) (45.1.0)
ERROR: yellowbrick 0.9.1 has requirement scikit-learn>=0.20, but you'll have scikit-learn 0.18.1 which is incompatible.
ERROR: stable-baselines 2.2.1 has requirement tensorflow>=1.5.0, but you'll have tensorflow 1.0.1 which is incompatible.
ERROR: magenta 0.3.19 has requirement tensorflow>=1.12.0, but you'll have tensorflow 1.0.1 which is incompatible.
ERROR: imbalanced-learn 0.4.3 has requirement scikit-learn>=0.20, but you'll have scikit-learn 0.18.1 which is incompatible.
ERROR: fancyimpute 0.4.3 has requirement scikit-learn>=0.19.1, but you'll have scikit-learn 0.18.1 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: chicksexer 0.2.2 has requirement numpy==1.12.1, but you'll have numpy 1.18.1 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: numpy
  Found existing installation: numpy 1.12.1
    Uninstalling numpy-1.12.1:
      Successfully uninstalled numpy-1.12.1
Successfully installed numpy-1.18.1

KeyError: ignored

SyntaxError: ignored

     Denver     Miami  Portland
0  1.426429  4.638841  1.024682

SyntaxError: ignored